#map { height: 500px; width:100%; }


  .custom-navbar {
    padding-top: 0.25rem;  /* reduce top padding */
    padding-bottom: 0.25rem;  /* reduce bottom padding */
  }

  .custom-brand {
    font-size: 28px;  /* increase text size */
  }

  .smaller-text {
    font-size: 1.2rem; /* Adjust as needed */
  }

    
  .button-link {
  display: inline-block;
  background-color: #007BFF; /* flot blå */
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  }


.button-link:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

select {
  border-radius: 5px;
}

.navbar {
  background: linear-gradient(90deg, #007BFF, #0056b3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  vertical-align: middle;
  font-size: 1.05rem;
}

.card {
  border-radius: 18px;
  /*box-shadow: 0 6px 24px rgba(0,0,0,0.10);*/
  border: none;
}

.card-header {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  font-size: 1.3rem;
}

.table th, .table td {
  vertical-align: middle;
  font-size: 1.05rem;
}

.table thead th {
  background: linear-gradient(90deg, #3594fa 70%, #3594fa 100%);
  color: white;
  border-bottom: none;
  font-weight: 600;
  letter-spacing: 0.5px;
}

a:not(#logo_button) {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

a:not(#logo_button)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(0, 123, 255, 0.38);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

a:not(#logo_button):hover::before {
  animation: ripple78 1.3s ease-out;
}

@keyframes ripple78 {
  0% { width: 0; height: 0; opacity: 1; }
  100% { width: 200px; height: 200px; opacity: 0; }
}



