#map { height: 500px; width:100%; }


  .custom-navbar {
    padding-top: 0.25rem;  /* reduce top padding */
    padding-bottom: 0.25rem;  /* reduce bottom padding */
  }

  .custom-brand {
    font-size: 28px;  /* increase text size */
  }
