<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="index.css">
  <title>3fSemesterProjekt</title>

</head>

<body>

  <div id="app" > 
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
        <a id="logo_button" class="navbar-brand d-flex align-items-center" href="#">
          <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
          <span style="font-weight: bold;">Coast</span>
        </a>
  
        <div id="navbarContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="main_page_button" class="nav-link active text-white fw-bold" href="index.html">Forside</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row my-4 g-3 align-items-end">
      <div class="col-md-3">
        <label id="choose_period_button" for="filterType" class="form-label mb-1">Vælg periode:</label>
        <select v-model="selectedPeriod" @change="filterByPeriod" class="form-select">
          <option value="" disabled selected hidden>Vælg</option>
          <option id="past_day_option" value="day">Seneste døgn</option>
          <option id="past_week_option" value="week">Seneste uge</option>
          <option id="past_month_option" value="month">Seneste måned</option>
          <option id="past_year_option" value="year">Seneste år</option>
        </select>
      </div>
    
      <div class="col-md-3">
        <label id="from_date_button" for="startTime" class="form-label mb-1">Fra tidspunkt:</label>
        <input id="from_date_input" type="datetime-local" v-model="startTime" id="startTime" class="form-control" />
      </div>
    
      <div class="col-md-3">
        <label id="to_date_button" for="endTime" class="form-label mb-1">Til tidspunkt:</label>
        <input id="to_date_input" type="datetime-local" v-model="endTime" id="endTime" class="form-control" />
      </div>
    
      <div class="col-md-3 d-grid">
        <button id="search_button" class="btn btn-primary" @click="filterByTime">Søg</button>
      </div>
    </div>
    
    

    <div id="map" v-once style="height: 500px;"></div>
  </div>






  <script src="oversigt.js"></script>

</body>

</html>